* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Medium.eot');
    src: url('fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/subset-Roboto-Medium.woff2') format('woff2'),
         url('fonts/subset-Roboto-Medium.woff') format('woff'),
         url('fonts/subset-Roboto-Medium.ttf') format('truetype'),
         url('fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Regular.eot');
    src: url('fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/subset-Roboto-Regular.woff2') format('woff2'),
         url('fonts/subset-Roboto-Regular.woff') format('woff'),
         url('fonts/subset-Roboto-Regular.ttf') format('truetype'),
         url('fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.first {
    background: #EEEFF1;
    width: auto;
}

.heading {
    padding-top: 79px;
    width: 1110px;
    margin: 0 399px;
}

.link {
    font-family:'Roboto','sans-serif';
    font-weight: 500;
    color: #000000;
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    margin-right: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 160px;
    width: auto;
}

.link:hover {
    color:#34547A;
}

.title{
    font-family: 'Roboto','sans-serif';
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    text-align: left;
}

.text {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-top: 45px;
    padding-bottom: 54px;
    line-height: 26px;
    align-items: center;
}

button {
   font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    color: #FFFFFF;
    background: #34547A;
    padding: 19px 41px 20px 41px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 141px;
    text-transform: uppercase;
}

button:hover {
    color: #bfd5f5;
}



.section {
    background-color: #FFFFFF;;
    padding-top: 112px;
    width: 1110px;
    margin: 0 399px;
}

.subtitle { 
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 38px;
    text-align: center; 
}

.content { 
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-top: 45px;
    padding-bottom: 54px;
    line-height: 26px;
    width: 540px;
    margin: 0px 291px 89px 291px;
    text-align: center; 
}

.grid {
    background-color: #34547A;
    width: auto;
    text-align: center;
}

.logo {
    width: 50;
    height: 47;
    display: inline-block;
    margin: 100px 20px 100px 0px;
}

.desc {
    display: inline-block;
    color:#FFFFFF;
    width: 70px;
    margin: 0 0 0 20px;
    margin: 100px 55px 100px 0;
}

.number {
    font-family: 'Roboto', 'sans-serif';
    font-size: 21px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.project {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 5px 0;
}

.box{
    background: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 46px;
    padding-top: 112px;
    width: 1110px;
    margin: 0px 399px;
    text-align: center;
}

.slogan  {
    margin-bottom: 42px;
}

.caption {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 38px; 
    text-align: center; 
    padding-bottom: 42px;
}

.container {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    Width: 540px;
    margin: 0px 291px 89px 291px;
}

.video {
    display: block;
    width: 1110px;
    height: 600px;
}

.footer {
    width: auto;
    text-align: left;
    padding: 50px 0 47px 0;
    background-color: #34547A;
}

.holder{
    padding-left: 430px;
}

.user {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    width: 540px;
    color: #FFFFFF;
    margin: 0 0 15px 0px;
}
.copy {
    font-family: 'Roboto', 'sans-serif';
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    width: 540px;
    color: #FFFFFF;
}
 