* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Medium.eot');
    src: url('fonts/subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/subset-Roboto-Medium.woff2') format('woff2'),
         url('fonts/subset-Roboto-Medium.woff') format('woff'),
         url('fonts/subset-Roboto-Medium.ttf') format('truetype'),
         url('fonts/subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/subset-Roboto-Regular.eot');
    src: url('fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/subset-Roboto-Regular.woff2') format('woff2'),
         url('fonts/subset-Roboto-Regular.woff') format('woff'),
         url('fonts/subset-Roboto-Regular.ttf') format('truetype'),
         url('fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.first {
    background: #EEEFF1;
    padding-top: 79px;
    padding-bottom: 141px;
}

.container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.items{
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
 }

.link {
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

.link.active,
.link:hover {
    color:#34547A;
    font-weight: 500;
}

.navigation {
    margin-bottom: 160px;
}

.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 45px;
}

.text {
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 54px;
}

.text.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button {
    color: #FFFFFF;
    background: #34547A;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 19px 41px 20px 41px;
}

.button:hover {
    color: #dfe9f7;
}


.sub-title { 
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    line-height: 38px;
    text-align: center; 
    margin-bottom: 42px;
}

.about {
    padding-top: 112px;
    padding-bottom: 89px;
    background-color: #f9f9f9;
}

.about.text {
    margin-bottom: 0;
}


.cards {
    background-color: #34547A;
    padding-top: 100px;
    padding-bottom: 100px;
    width: auto;
    text-align: center;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin-right: 49px ;
}

.card:last-child{
    margin-right: 0;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    
}

.desc {
    display: inline-block;
    vertical-align: top;
    color:#FFFFFF;
    padding-top: 3px;
}

.number {
    font-size: 21px;
    font-weight: 500px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.project {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.box{
    background: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.box.text{
    margin-bottom: 46px;
}


.video {
    display: block;
    width: 1110px;
    height: 600px;

}

.footer {
    padding: 50px 0 47px 0;
    background-color: #34547A;
    color: #fff;
}

.user {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 15px;
}

.copy {
    font-size: 13px;
    line-height: 15px;
}
 
